<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="admin/fragments/header :: head"></head>

<body class="bg-light">

<div th:replace="admin/fragments/header :: header"></div>

<div class="d-flex">
    <div th:replace="admin/fragments/sidebar :: sidebar"></div>

    <div class="content p-4">
        <h2 class="mb-4">Comix administration page</h2>

        <div class="card mb-4">
            <div class="card-body">
                <div class="container">
                    <div class="card-header bg-white font-weight-bold">
                        Add new comix
                    </div>
                    <div class="card-body">
                        <form th:action="@{/admin/comixbook/add}" th:object="${comix}" method="post">

                            <div class="form-group">
                                <label for="newComixName">Comix Name</label>
                                <textarea class="form-control" id="newComixName" rows="2" th:field="*{name}"></textarea>
                                <small id="emailHelp" class="form-text text-muted">Поле обязательное для заполнения</small>
                            </div>

                            <div class="form-group">
                                <label for="newComixDes">Comix Name</label>
                                <textarea class="form-control" id="newComixDes" rows="3" th:field="*{description}"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="newComixYear">Password</label>
                                <input type="text" class="form-control" id="newComixYear" placeholder="Year" th:field="*{year}">
                            </div>

                        <div class="submit">
                            <button name="addComix" type="submit" class="btn btn-primary">Add comix</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/admin/js/jquery.min.js}"></script>
<script th:src="@{/admin/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/admin/js/bootadmin.min.js}"></script>

</body>
</html>